.app {
  align-items: center;
  display: flex;
  flex-direction: column;

  .description {
    margin-bottom: 30px;
    width: 50%;
  }

  .github {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

:global(.github-button) {
  display: none;
}
